---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">Map</a></p>

{% endif %}

{% assign talks_dated = site.talks | where_exp: "item", "item.date" | sort: "date" | reverse %}
{% assign talks_undated = site.talks | where_exp: "item", "item.date == nil" %}

{% for post in talks_dated %}
  {% include archive-single-talk.html %}
{% endfor %}
{% for post in talks_undated %}
  {% include archive-single-talk.html %}
{% endfor %}
